BODY {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 8pt;
        font-weight: regular;
        color: #999999;
        scrollbar-face-color: #C0C0C0;
        scrollbar-highlight-color: #C0C0C0;
        scrollbar-shadow-color: #C0C0C0;
        scrollbar-3dlight-color: #FFFFFF;
        scrollbar-arrow-color: #FFFFFF;
        scrollbar-track-color: #FFFFFF;
        scrollbar-darkshadow-color: #000000;
        background-color: #FFFFFF;
        background-image: url(graydotbg.jpg);
        background-repeat:repeat;
}

p {
        color: #000000;
        font-size: 8pt;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-weight: regular;

}

a {
        color : #000000;
        font-size: 8pt;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-weight: regular;
        text-decoration: none;
}

a:hover {
        color: #C0C0C0;
        font-size: 8pt;
        font-weight: regular;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        text-decoration: none;
}

a:visited {
        color: #000000;
        font-size: 8pt;
        font-weight: regular;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        text-decoration: none;
}

TABLE
 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 10pt;
            font-weight: normal;
		color: #999999;
		background-color: #E8E8E8;
		border: solid 1 #000000;
 }

h1{
        font-size: 14pt;
        color : #666666;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        text-decoration: none;
        font-style: bold;
	  margin-bottom:0em
}

h2{
        font-size: 12pt;
        color : #666666;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        text-decoration: none;
        font-style: bold;
	  margin-bottom:0em
}